$headerBackground: rgb(0, 75, 173);
$footerBackground: $headerBackground;
$lightColor: rgb(210, 229, 255);
$accentColor: rgb(0, 110, 255);
$darkColor: rgb(0, 44, 102);
$btnBackground: $accentColor;
$btnBackgroundHover: rgb(34, 130, 255);
$btnBackgroundActive: rgb(88, 160, 255);
$headerPadding: 0.5em;
$footerPadding: $headerPadding;
